@import "./vars";
@import "./mixins";
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  display: block;
}
.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}
.center__header {
  padding-left: calc(50% - 661px);
  padding-right: calc(50% - 661px);
}

.center__main {
  padding-left: calc(50% - 622px);
  padding-right: calc(50% - 622px);
}
.center__info {
  padding-left: calc(50% - 551px);
  padding-right: calc(50% - 551px);
}
.center__reviews {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background: $colorSite;
  height: 83px;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    padding-top: 20px;
    justify-content: space-between;
    &__icon {
      position: relative;
      display: flex;
      gap: 37px;
      align-items: center;
      &__svg {
        display: none;
      }
      &__button {
        width: 113px;
        height: 43px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        background: $colorSite;
        border-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        cursor: pointer;

        &:active {
          color: $colorSite;
          background-color: #fff;
        }
        &:active .header__nav__icon__button__svg path {
          stroke: rgb(157, 200, 44);
        }
      }
      &__menu {
        position: absolute;
        width: 835px;
        height: 596px;
        border-radius: 10px;

        top: -620px;
        left: 161px;
        transition: top 0.8s, opacity 0.8s;
        z-index: 6;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.03);
        background: rgb(255, 255, 255);

        &__common {
          padding: 50px 73px 56px 60px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          box-sizing: border-box;
        }
        &__menu1 {
          &__block {
            &__title {
              @include detailsMenu();
            }
            &__mini {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              margin-top: 35px;
              gap: 20px;
              &__link {
                position: relative;
                width: fit-content;

                @include detailsMenuLink();
                &::after {
                  content: "";
                  position: absolute;
                  bottom: -12px;
                  left: 0;

                  height: 1px;
                  background-color: $colorSite;
                  opacity: 0;
                  transition: opacity 0.2s ease-in-out;
                }
                &:hover::after {
                  opacity: 1;
                  width: 100%;
                }
                &:hover {
                  color: $colorSite;
                }
              }
            }
            &__end {
              margin-top: 55px;
            }
            &__intend {
              margin-top: 98px;
            }
          }
        }
        &__button {
          width: 793px;
          height: 49px;
          border-radius: 10px;
          background-color: $colorSail;
          border: none;
          color: #fff;
          margin-left: 21px;

          &:active {
            background-color: rgb(255, 67, 78);
          }
        }
      }

      &_box {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
        &:checked ~ .header__nav__icon__menu {
          top: 75px;
        }
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 161px;
    &__link {
      display: flex;
      gap: 35px;
      &__text {
        color: rgba(255, 255, 255, 0.65);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        &:hover {
          color: #fff;
        }
      }
    }
    &__icon {
      display: none;
    }
  }
}
.basket {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;

  &__svg {
    display: none;
  }
  &__input {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
    &:checked ~ .basket__box {
      top: 68px;
    }
  }
  &__box {
    width: 215px;
    height: 264px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.03);
    background: rgb(255, 255, 255);
    top: -295px;
    left: -50px;
    transition: top 0.8s, opacity 0.8s;
    z-index: 15;
    padding: 20px 16px;
    box-sizing: border-box;
    &__menu {
      display: flex;
      align-items: center;
      gap: 11px;
      &__text {
        color: rgba(0, 0, 0, 0.85);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
      }
    }
  }
  &__lable {
    cursor: pointer;
  }
  &__button {
    margin-top: 62px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(193, 193, 193);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
    &:active{
      background: rgb(160, 160, 160);
    }
  }
}
.sail {
  color: $colorSail;
  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;

    height: 1px;
    background-color: $colorSail;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
  &:hover {
    color: $colorSail;
  }
}
.menu__bascket {
  position: absolute;
  border-radius: 10px;
  width: 215px;
  height: 264px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.03);
  background: rgb(255, 255, 255);
  z-index: 6;
  left: 1050px;
  top: 73px;
  padding: 20px 43px 15px 15px;
  &__common {
    display: flex;
    flex-direction: column;

    gap: 11px;
    &__block {
      display: flex;

      gap: 11px;
      &__text {
        color: rgba(0, 0, 0, 0.85);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-top: 8px;
      }
    }
  }
  &__quantity {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 11px;
  }
  &__button {
    width: 130px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    border-radius: 10px;
    margin-top: 21px;
    background: rgb(193, 193, 193);
    border: none;
    &:active {
      background-color: rgb(224, 224, 224);
    }
  }
}

.content {
  position: relative;
  background: rgb(232, 232, 232);
  height: 739px;
  display: flex;
  justify-content: center;
  &__img {
    position: absolute;
    padding-left: 1030px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 220px;
    &__box {
      display: flex;
      align-items: center;
      gap: 17px;
      position: absolute;
      top: 23px;
      left: 321px;
    }
    &__heading {
      display: flex;
      gap: 62px;
      margin-top: 267px;
      flex-wrap: wrap;

      &__link {
        margin-top: 49px;
        &:hover path {
          fill: white;
        }
      }
      &__title {
        max-width: 578px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
      }
      &__text {
        max-width: 482px;
        color: rgba(29, 28, 28, 0.7);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 28px;
      }
    }
    &__title {
      display: flex;
      flex-wrap: wrap;
      margin-top: 305px;
      gap: 93px;
      &__link__two {
        margin-top: 11px;
        &:hover path {
          fill: white;
        }
      }
    }
    &__input {
      position: relative;
      margin-top: 57px;
      &__search {
        width: 533px;
        height: 62px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;

        background: linear-gradient(
          95.06deg,
          rgba(255, 255, 255, 0.55) -0.887%,
          rgba(255, 255, 255, 0) 112.211%
        );

        color: rgba(0, 0, 0, 0.7);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        padding-left: 23px;

        &__button {
          color: rgba(0, 0, 0, 0.55);
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;

          &__info {
            color: rgba(0, 0, 0, 0.55);
            font-family: Inter;
            font-size: 12px;
            font-weight: 200;
            line-height: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
            &__arrow {
              width: 34px;
              height: 34px;
              background: $colorSite;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              cursor: pointer;
              &:active {
                background: rgb(146, 189, 39);
              }
            }
          }
          &__text {
            color: rgba(0, 0, 0, 0.55);
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
          }
          &__box {
            position: absolute;
            width: 121px;
            height: 89px;
            border-radius: 10px;
            backdrop-filter: blur(100px);
            background: linear-gradient(
              95.06deg,
              rgba(255, 255, 255, 0.55) 0.992%,
              rgba(255, 255, 255, 0) 109.318%
            );
            &__ul {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              padding: 12px;
              &__link {
                color: rgba(0, 0, 0, 0.55);
                font-family: Inter;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                &:hover {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  &__victorya {
    display: flex;
    flex-wrap: wrap;
    width: 365px;
    height: 321px;
    border-radius: 10px;
    background: rgb(208, 208, 208);
    right: 154px;
    top: 305px;
    &__img {
      transform: translate(-171px, 76px);
      z-index: 5;
      &__media {
        display: none;
      }
      &__one {
        width: 193px;
        height: 62px;
        border-radius: 20px;
        box-sizing: border-box;

        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        transform: translate(460px, -105px);
        background: linear-gradient(
          82.14deg,
          rgba(255, 255, 255, 0.75) 1.055%,
          rgba(255, 255, 255, 0) 179.692%
        );
        &__svg {
          width: 36px;
          height: 36px;
          background: rgb(255, 184, 46);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          &:active {
            background: rgb(231, 169, 44);
          }
        }
        &__text {
          width: 109px;
          height: 34px;
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 13px;
          font-weight: 500;
          line-height: 17px;
          margin-top: 3px;
        }
      }
      &__two {
        width: 193px;
        height: 62px;
        border-radius: 20px;
        box-sizing: border-box;
        transform: translate(105px, -279px);

        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;

        background: linear-gradient(
          82.14deg,
          rgba(255, 255, 255, 0.75) 1.055%,
          rgba(255, 255, 255, 0) 179.692%
        );
        &__svg {
          width: 36px;
          height: 36px;
          background: rgb(255, 184, 46);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          &:active {
            background: rgb(231, 169, 44);
          }
        }
        &__text {
          width: 109px;
          height: 34px;
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 13px;
          font-weight: 500;
          line-height: 17px;
          margin-top: 3px;
        }
      }
    }
    &__white {
      position: absolute;
      transform: translate(18px, 321px);
      z-index: 1;
    }
    &__box {
      padding: 38px;
      z-index: 1;
      position: absolute;
    }
    &__heading {
      &__title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }
      &__text {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 6px;
      }
    }
    &__color {
      margin-top: 21px;
      display: flex;
      gap: 7px;
      &__text {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
      }
      &__price {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding-left: 50px;
      }
      &__ellipse {
        display: flex;
        gap: 12px;
      }
    }
  }
}

.main {
  margin-top: 187px;
  height: 100%;
  margin-bottom: 180px;
  &__categories {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 36px;
      font-weight: 700;
      line-height: 55px;
    }
    &__info {
      margin-top: 36px;
      gap: 35px;
      display: flex;
      flex-wrap: wrap;

      &__link {
        color: rgb(41, 41, 41);
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        width: 88px;
        height: 40px;
        border-radius: 10px;
        &:focus {
          border-radius: 10px;
          color: #fff;
          background: rgb(54, 54, 54);
        }
      }
      &__link1 {
        color: rgb(41, 41, 41);
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 174px;
        height: 40px;
        transition: all 0.3s ease;
        border-radius: 10px;
        &:focus {
          border-radius: 10px;
          color: #fff;
          background: rgb(54, 54, 54);
        }
      }
      &__link2 {
        color: rgb(41, 41, 41);
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 40px;
        transition: all 0.1s ease;
        border-radius: 10px;
        &:focus {
          border-radius: 10px;
          color: #fff;
          background: rgb(54, 54, 54);
        }
      }
    }
    &__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-top: 68px;
      &__box {
        border-radius: 10px;
        height: 385px;

        box-sizing: border-box;
        overflow: hidden;
        &:hover {
          box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.1);
        }
        &__bg {
          border-radius: 10px;
          width: 293px;
          height: 283px;
          background: rgb(250, 250, 250);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__title {
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          margin-top: 17px;
          padding-left: 5px;
        }
        &__color {
          color: rgba(0, 0, 0, 0.5);
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          margin-top: 7px;
          padding-left: 5px;
        }
        &__price {
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          margin-top: 10px;
          padding-left: 5px;
          color: $colorSite;
        }
        &__button {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &__right {
            background: $colorSite;
            width: 70px;
            height: 25px;
            border-radius: 7px;
            border: none;
            margin-right: 5px;
            color: #fff;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            cursor: pointer;
            &:active {
              background: #fff;
              border: 1px solid $colorSite;
              color: $colorSite;
            }
          }
        }
      }
    }
    &__grid2 {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-top: 47px;
    }
    &__armchair {
      box-sizing: border-box;
    }
  }
}

.info {
  position: relative;
  z-index: 2;
  &__title {
    color: rgb(26, 26, 26);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;

    text-align: center;
  }
  &__grid {
    margin-top: 60px;
    &__min__media {
      display: none;
    }
    &__big {
      display: flex;
      gap: 25px;

      &__title {
        position: relative;

        &__haeding {
          top: 77px;
          position: absolute;
          left: 43px;
          &__text {
            &__name {
              font-family: Inter;
              font-size: 16px;
              font-weight: 400;
              line-height: 35px;
              color: $colorSite;
            }
            &__hit {
              color: rgb(27, 27, 27);
              font-family: Inter;
              font-size: 40px;
              font-weight: 700;
              line-height: 35px;
              margin-top: 2px;
            }
            &__color {
              color: rgba(0, 0, 0, 0.54);
              font-family: Inter;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              margin-top: 9px;
            }
            &__price {
              font-family: Inter;
              font-size: 20px;
              font-weight: 700;
              line-height: 24px;
              margin-top: 23px;
            }
            &__span {
              color: rgba(0, 0, 0, 0.25);
              font-family: Inter;
              font-size: 14px;
              font-weight: 300;
              line-height: 17px;
              text-decoration-line: line-through;
              padding-left: 14px;
            }
          }
          &__button {
            margin-top: 39px;
            width: 118.07px;
            height: 44.02px;
            border-radius: 8px;
            background-color: $colorSite;
            border: none;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            cursor: pointer;
            &:active {
              border: 1px solid $colorSite;
              background-color: #fff;
              color: $colorSite;
            }
          }
        }
      }
      &__one {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        &__title {
          position: relative;
          &__text {
            position: absolute;
            width: 192px;
            top: 90px;
            left: 26px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
          }
        }
        &__title2 {
          position: relative;
          &__text {
            position: absolute;
            width: 287px;
            top: 96px;
            left: 26px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
          }
        }
      }
    }
    &__min {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      margin-top: 25px;

      &__two {
        position: relative;
        &__text {
          left: 18px;
          position: absolute;
          top: 139px;
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
        }
        &__link {
          position: absolute;
          left: 18px;
          top: 188px;
          text-decoration: underline;
          color: rgb(255, 255, 255);
          opacity: 0.7;
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
  &__video {
    width: 100%;
    height: 261px;
    margin-top: 27px;

    border-radius: 10px;
    background: rgb(255, 38, 50);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__heading {
      padding-top: 35px;
      padding-left: 60px;
      &__title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 44px;
        font-weight: 700;
        line-height: 45px;
      }
      &__text {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 12px;
      }
      &__button {
        box-sizing: border-box;
        margin-top: 30px;
        width: 117px;
        height: 44px;
        border-radius: 8px;
        border: none;
        background: rgb(255, 255, 255);
        color: rgb(255, 38, 50);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        &:active {
          background-color: rgb(255, 38, 50);
          border: 1px solid #fff;
          color: #fff;
        }

        &:active &__svg path {
          fill: white; /* Меняем цвет stroke на белый при нажатии */
        }
      }
    }
  }
}
.reviews {
  background-color: rgb(249, 249, 249);

  transform: translate(0px, -130px);
  &__title {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    padding-top: 320px;
    text-align: center;
  }
  &__cards {
    display: flex;

    overflow: auto;
    gap: 20px;
    margin-top: 60px;
    &::-webkit-scrollbar {
      width: 0;
    }
    &__carusel {
      display: flex;
      gap: 15px;
      transition: transform 0.2s ease-in-out;
    }
    &__one {
      width: 354px;
      height: 300px;
      background-color: #fff;
      border-radius: 9px;
      align-items: center;

      &__stars {
        float: right;
        margin-top: 18px;
        margin-right: 18px;
      }
      &__info {
        display: flex;
        flex-wrap: wrap;
        padding-top: 26px;
        padding-left: 22px;
        &__name {
          color: rgb(0, 0, 0);
          font-family: Inter;
          font-size: 15px;
          font-weight: 600;
          line-height: 110%;
          margin-top: 14px;
          margin-left: 18px;
        }
        &__paragraf {
          &__text {
            color: rgba(0, 0, 0, 0.65);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            margin-top: 15px;
            width: 314px;
            height: 140px;
          }
        }
      }
      &__data {
        color: rgba(0, 0, 0, 0.65);
        font-family: Inter;
        font-size: 13px;
        font-weight: 300;
        line-height: 100%;
        float: right;
        margin-top: 23px;
        margin-right: 15px;
      }
    }
    &__imgleft {
      border: none;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: rgba(157, 200, 44, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-20px, 132px);
      cursor: pointer;
      z-index: 15;
      &:active {
        background: rgba(199, 243, 86, 0.3);
      }
    }
    &__imgright {
      border: none;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: rgba(157, 200, 44, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(1077px, 132px);
      cursor: pointer;
      position: absolute;
      &:active {
        background: rgba(199, 243, 86, 0.3);
      }
    }
  }
  &__heading {
    margin-top: 101px;
    &__text {
      color: rgb(0, 0, 0);
      font-family: Inter;
      font-size: 24px;
      font-weight: 800;
      line-height: 29px;
    }
    &__paragraf {
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      margin-top: 12px;
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 68px;
    flex-wrap: wrap;
    padding-bottom: 70px;
    &__one {
      width: 259px;
      height: 181px;
      border-radius: 8.77px;

      background: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__text {
        width: 171px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 16px;
        text-align: center;
        color: rgba(0, 0, 0, 0.62);
      }
    }
  }
}
.footer {
  display: flex;
  transform: translate(0px, -60px);
  flex-wrap: wrap;
  gap: 237px;
  justify-content: center;
  &__icon {
    &__color {
      color: $colorSite;
      font-family: Inter;
      font-size: 16.02px;
      font-weight: 700;
      line-height: 21.63px;
      width: 268px;
      margin-top: 7px;
    }
    &__text {
      color: rgba(0, 0, 0, 0.7);
      font-family: Inter;
      font-size: 9.61px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 10px;
    }
  }
  &__item {
    display: flex;
    gap: 35px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__title {
      @include fontsFooter();
    }
    &__link {
      @include fontsFooterLink();
      &:hover {
        color: $colorSite;
      }
    }
    &__text {
      @include fontsFooterLink();
    }
  }
}
.shape_input {
  display: none;
}
@media (max-width: 1280px) {
  .header {
  }
  .header__menu {
    gap: 10px;
  }
  .header__menu__icon {
    display: block;
  }
  .content__victorya__white,
  .content__victorya__img__armchair,
  .content__main__title__link__two,
  .content__main__heading__link,
  .content__victorya__img__two,
  .content__victorya__img__one,
  .none,
  .content__img,
  .header__menu__link__text {
    display: none;
  }
  .header__menu__link {
    display: flex;
  }
  .content__main {
    gap: 0px;
    display: flex;
    justify-content: center;
  }
  .content__main__title {
    margin-top: 80px;
  }
  .content__main__heading {
    margin-top: 75px;
  }
  .content__victorya__img__media {
    display: block;
  }
  .content__victorya__img {
    transform: translate(0px, 76px);
    z-index: 5;
  }
}
@media (max-width: 768px) {
  .center__media {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .svg__border,
  .content__main__input__search__button__text,
  .info__grid__min__two,
  .info__grid__big__min__img2,
  .header__nav__icon__menu__button,
  .content__main__heading__link,
  .content__main__title__link__two,
  .header__menu__link__text,
  .header__menu__link,
  .content__img,
  .svg,
  .content__main__input__search__button__text,
  .header__nav__icon__button__svg,
  .header__nav__icon__img,
  .info__grid__big,
  .content__victorya__img__one,
  .content__victorya__img__two,
  .content__victorya__white,
  .content__victorya__img__armchair {
    display: none;
  }
  .header {
    height: 55px;
  }

  .header__nav__icon__button {
    width: 65px;
    height: 27px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  .content__main__heading {
    margin-top: 75px;
  }
  .content__main__heading__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    width: 319px;
    text-align: center;
  }
  .content__main__heading__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    width: 319px;
    text-align: center;
    margin-top: 15px;
  }
  .content__main__input__search {
    width: 280px;
    height: 63px;
  }
  .content__main__input__search::placeholder {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  .content__main__input__search__button {
    &[open] .header {
      background: #fff;
    }
  }
  .content__main__input__search__button__box {
    top: 40px;
    left: -70px;
  }
  .shape_input {
    display: block;
  }
  .content__main__input {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .header__nav__icon {
    display: flex;
    flex-direction: row-reverse;
    gap: 63px;
    padding-left: 14px;
  }
  .content__main {
    justify-content: center;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__main__box {
    left: 220px;
    top: 15px;
  }
  .content__main__title {
    margin-top: 80px;
  }
  .content__victorya {
    width: 289px;
    height: 321px;
  }

  .content__victorya__box {
    display: flex;
    flex-direction: column;

    padding: 35px;
  }
  .content__victorya__color {
    display: flex;
    flex-direction: column;
  }
  .content__victorya__color__price {
    padding: 0;
    margin-top: 20px;
  }

  .header__nav {
    padding-top: 16px;
  }
  .header__nav__icon__svg {
    display: block;
  }
  .content__victorya__img__media {
    display: block;
  }
  .basket {
    padding-right: 16px;
  }
  .basket__input:checked ~ .basket__box {
    top: 48px;
  }
  .basket__box {
    left: -180px;
  }

  .content__victorya__img {
    transform: none;
    transform: translate(-39px, 108px);
  }
  .info__grid__min {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    margin-top: 120px;
    margin-bottom: 0;
  }
  .main__categories__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .main__categories__info {
    gap: 35px;
    margin-top: 32px;
  }
  .main__categories__info__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    width: 67px;
    height: 29px;
  }
  .main__categories__info__link1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    width: 120px;
    height: 29px;
  }
  .main__categories__info__link2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    width: 67px;
    height: 29px;
  }
  .main__categories__armchair {
  }
  .main__categories__grid__box {
    height: 100%;
  }
  .main__categories__grid__box__bg {
    width: 100%;
    height: 100%;
  }
  .main__categories__grid__box__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  .main__categories__grid__box__color {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .main__categories__grid__box__price {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
  .main__categories__grid__box__button__right {
    width: 50px;
    height: 20px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 1px;
  }
  .main__categories__grid {
    margin-top: 20px;
    gap: 9px;
    display: flex;
    justify-content: center;
  }
  .main__categories__grid2 {
    margin-top: 25px;
    margin-top: 20px;
    gap: 9px;
    display: flex;
    justify-content: center;
  }
  .main__svg {
    width: 68.82px;
    height: 97.61px;
    padding: 30px 47px;
  }
  .header__nav__icon__menu {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    left: 0px;
    top: -875px;
  }
  .header__nav__icon_box:checked ~ .header__nav__icon__menu {
    top: 39px;
  }

  .header__nav__icon__menu__menu1__block__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
  .header__nav__icon__menu__menu1__block__mini__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .header__nav__icon__menu__menu1__block__intend {
    margin-top: 35px;
  }
  .header__nav__icon__menu__common {
    padding: 45px 199px 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .header__nav__icon__menu_margin {
    margin-top: 35px;
  }
  .header__nav__icon__menu__menu1__block__mini {
    margin-top: 25px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 70px;
  }
  .info__grid {
    margin-top: 30px;
  }
  .info__grid__min {
    gap: 10px;
  }
  .info__grid__min__media {
    display: block;
    position: relative;
  }
  .info__grid__min__media__title {
    position: absolute;
    top: 106px;
    left: 18px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
    width: 190px;
  }
  .info__grid__min__media__link {
    position: absolute;
    left: 18px;
    top: 152px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
  }
  .info__video {
    width: 335px;
    height: 439px;
    width: 335px;
    height: 439px;
    display: flex;
    justify-content: center;
  }
  .info__video__heading__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
  }
  .info__video__heading__text {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
  }
  .info__video__heading {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
  }
  .info__video__heading__img {
    width: 244px;
    height: 184px;
    margin-top: 31px;
  }
  .reviews {
    padding-top: 300px;
    transform: translate(0px, -240px);
  }
  .reviews__title {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .reviews__cards {
    margin-top: 30px;
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .reviews__cards__carusel {
    margin-left: 20px;
  }
  .reviews__cards__one {
    width: 319px;
    flex: 0 0 auto;
  }

  .reviews__cards__one__info {
    padding-top: 30px;
    padding-left: 25px;
  }
  .reviews__cards__one__info__paragraf__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 20px;
  }
  .reviews__cards__one__info__paragraf__text {
    width: 273px;
  }
  .dots {
    display: flex;
    justify-content: center;
  }
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 20px 7px;

    transition: background-color 0.5s ease;
  }
  .reviews__heading {
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 28px;
  }
  .reviews__heading__text {
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
  }
  .reviews__heading__paragraf {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 6px;
  }
  .reviews__info {
    gap: 9px;
    padding-bottom: 40px;
    margin-top: 20px;
  }
  .reviews__info__one {
    width: 163px;
    height: 137px;
  }
  .reviews__info__one__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    width: 104px;
  }
  .footer {
    transform: translate(0px, -220px);
    margin-left: 33px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
